main {
    width: 600px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:60px repeat(7, auto);
    gap: 18px;
}



h2, p {
    grid-column: 1/5;
}


h2{
    height: 60px;
    font-size:30px;
}

p{
    font-size:18px ;
}

main div{
    margin: auto;
    border: 2px solid black;
    width: 100%;
    max-width: 125px;
    height: 100%;
    min-height: 125px;
    border-radius: 3px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
 
    
}

main div:hover{
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0.486);
    width: 100%;
    max-width: 125px;
    height: 100%;
    min-height: 125px;
    border-radius: 3px;
         transform: translateY(-5px);
  transition: all 0.3s ease;
       box-shadow: 0 0 18px  #534a4d ;
       
    
}

main div img {
    width: 60%;
     transition: all 0.3s ease;
}

main div:hover img{
    width: 70%;
     transition: all 0.3s ease;

}


